* {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.scatterChart circle {
  fill: orange;
  fill-opacity:0.5
}

.barChart rect {
  fill: #2a7767;
}

.axis path, .axis line{
  fill: none;
  stroke: black;
}

.xaxis path{
  fill: none;
  stroke: none;
}


.line{
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.tick text{
  font-size: 15px;
}

.tick line{
  opacity: 0.2;
}